# Node.js
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env

# TypeScript
*.tsbuildinfo

# VSCode / JetBrains / Editor junk
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# ASP.NET Core
*bin/
obj/
*.user
*.vs/
*.suo

# Build artifacts
CnpjScanner.Api/wwwroot/
CnpjScanner.Api/bin/
CnpjScanner.Api/obj/
CnpjScanner.Api/bin/Debug/*
CnpjScanner.Api/bin/Debug/**/*

