<div class="container">
  <div
    class="d-flex justify-content-center align-items-center min-vh-100"
    *ngIf="!analyzed"
  >
    <div class="card p-4 shadow" style="width: 100%; max-width: 500px">
      <h4 class="text-center mb-3">CNPJ Scanner</h4>

      <form (submit)="onSubmit($event)">
        <div class="mb-3">
          <label for="repo" class="form-label">Repositório</label>
          <input
            type="text"
            id="repo"
            class="form-control"
            placeholder="hdi-sistemas/br-sns-petregulacao"
            [(ngModel)]="repo"
            name="repo"
            required
          />
        </div>

        <div class="mb-3">
          <label for="dirToClone" class="form-label">Diretório</label>
          <input
            type="text"
            id="directory"
            class="form-control"
            placeholder="D://Workspace"
            [(ngModel)]="dirToClone"
            name="dirToClone"
            required
          />
        </div>

        <div class="mb-3" d-flex>
          <div>
            <label class="form-label">Exntensões</label>
          </div>
          <div
            class="form-check form-check-inline"
            *ngFor="let option of languageOptions"
          >
            <input
              class="form-check-input"
              type="checkbox"
              [value]="option.value"
              (change)="onCheckboxChange($event)"
              [checked]="selectedLanguages.includes(option.value)"
              id="lang-{{ option.value }}"
            />
            <label class="form-check-label" [for]="'lang-' + option.value">
              {{ option.label }}
            </label>
          </div>
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary" [disabled]="loading">
            Analisar
          </button>
        </div>
      </form>
      <div *ngIf="loading" class="text-center mt-3">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Analisando...</span>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4" *ngIf="analyzed">
    <div class="d-flex justify-content-between align-items-center my-3">
      <div class="mb-3">
        <button type="submit" class="btn btn-primary" (click)="goBack()">
          Voltar
        </button>
      </div>
      <div class="form-group mb-3">
        <label for="typeFilter" class="form-label">Filtrar pelo Tipo:</label>
        <select
          id="typeFilter"
          class="form-select w-auto d-inline-block ms-2"
          [(ngModel)]="selectedType"
          (change)="filterByType()"
        >
          <option value="">Todos</option>
          <option *ngFor="let type of availableTypes" [value]="type">
            {{ type }}
          </option>
        </select>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            <div class="d-flex">
              <input
                type="checkbox"
                [checked]="areAllSelected()"
                (change)="toggleSelectAll($event)"
                class="me-2"
              />
              <span>Revisado</span>
            </div>
          </th>
          <th>Caminho do Arquivo</th>
          <th>Linha</th>
          <th>Tipagem</th>
          <th>Declaração</th>
          <th>CNPJ?</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let match of paginatedResults(); let i = index">
          <td>
            <input
              type="checkbox"
              [checked]="isSelected(match) || match.looksLikeCnpj"
              (click)="onCheckboxClick($event, match, i)"
            />
          </td>
          <td>{{ getShortPath(match.filePath) }}</td>
          <td>{{ match.lineNumber }}</td>
          <td>{{ match.type }}</td>
          <td>
            <code>{{ match.declaration }}</code>
          </td>
          <td>{{ match.looksLikeCnpj ? "✅" : "❌" }}</td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between align-items-center my-3">
      <ngb-pagination
        [collectionSize]="filteredResults.length"
        [(page)]="page"
        [pageSize]="pageSize"
        (pageChange)="onPageChange($event)"
        [maxSize]="5"
        [boundaryLinks]="true"
        [ellipses]="true"
      />
      <p class="text-muted mt-2">
        Total de items: {{ filteredResults.length }}
      </p>
      <div>
        <button class="btn btn-success me-2" (click)="exportToExcel()">
          Exportar para Excel
        </button>
        <input
          type="file"
          (change)="onFileSelected($event)"
          accept=".xlsx, .xls"
        />
      </div>
    </div>
  </div>
  <div *ngIf="!results.length && analyzed">Nenhum dado encontrado.</div>
</div>
